.json {
  height: $json-height;
  background-color: $json-bg;
  overflow: hidden;
  padding: 63px 100px;
  box-sizing: border-box;
  position: relative;
}

.json-text {
  color: $json-text;
  font-size: 29px;
  font-family: "Roboto Mono", monospace;
  max-width: 100%;
  word-break: break-word;

  &_long {
    font-size: 16px;
  }
}

.json-text-em {
  color: $json-em;

  &_joy {
    color: $json-joy;
  }

  &_sorrow {
    color: $json-sorrow;
  }

  &_anger {
    color: $json-anger;
  }

  &_surprise {
    color: $json-surprise;
  }
}

.json-title {
  color: $json-em;
  font-weight: normal;
  line-height: 1em;
  margin: 0 0 1em 0;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Roboto Light", "Roboto", sans-serif
}

.scrim {
  background-color: $json-bg;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
