$stack: "Roboto Mono", "Roboto", sans-serif;


$third-width: 1080px;
$third-height: 1823px;
$threeup-height: $third-height / 3;

$bezel: 0px;
$grid-bezel: 0px;

$image-height: 640px;
$json-height: $third-height - $image-height;
